entrypoint = "server.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5101
externalPort = 80

[[ports]]
localPort = 5102
externalPort = 3000

[[ports]]
localPort = 5108
externalPort = 3002

[[ports]]
localPort = 5109
externalPort = 3001

[[ports]]
localPort = 5110
externalPort = 4200

[[ports]]
localPort = 5111
externalPort = 3003

[[ports]]
localPort = 5112
externalPort = 5000
